.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9bc0f8;
  border: 1px solid #233eee;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  height: 20px;
  width: 350px;
  padding: 8px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .item span {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
  }

.red-border{
    border: 1px solid red;
}

.btn,
.btnDel {
  background-color: #487eec;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 25px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fcfcfc;
  color: #487eec;
}

.btn:active {
  background-color: #fafafa;
}

.btnDel:hover {
  background-color: #f94949;
}

.btnDel:active {
  background-color: #f94949;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .text {
    font-size: 18px;
    color: #555;
    text-align: center;
  }